<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h3>Please fill the form</h3>
<form action="addData"  method="post">

    <label for="firstname">first name:</label> <input type="text" name="firstname">
    <br>
    <label for="lastname">last name:</label> <input type="text" name="lastname">
    <br>
    <label for="career">career:</label> <input type="text" name="career">
    <br>
    <button type="submit">add</button>
</form>

</body>
</html>