<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <h3 style="text-align: center">Search record:</h3>
    <br>
    <br>
    <form action="srctag" method="post">

        <label for="tag">enter tag:</label><input type="text" name="tag">
        <br>
        <button type="submit">search</button>

    </form>
</div>

<div>
<table>
    <tr>
        <th>description</th>
        <th>tag</th>
        <th>naumen</th>
        <th>jiraID</th>
        <th>oldjiraID</th>
    </tr>
 {{#FIO}}

<tr>
    <td>{{description}}</td>
    <td>{{tag}}</td>
    <td>{{naumen}}</td>
    <td>{{jiraID}}</td>
    <td>{{oldjiraID}}</td>
    <td><a href="edit/{{id}}">edit</a></td>
</tr>
{{/FIO}}
</table>
</div>





</body>
</html>